# Ignore Python compiled byte code cache
__pycache__/
*.pyc

# Ignore large video footage files
*.mp4
*.avi
*.mkv
*.raw

# Ignore any hidden backup files created by editors
*~
# Ignore local classification image dumps
saved_crops/
diagnostic_crops/
app.log
um25c
__pycache__/
